<!DOCTYPE html>
<html ng-app="webrtcApp">
<head>
    <title>webRTC</title>
</head>

<script src="socket.io/socket.io.js"></script>
<script src="javascripts/lib/angular.min.js"></script>
<script src="javascripts/webrtc.js"></script>

<body ng-controller="webrtcCtrl">

<form action="/addbuddy" method="post">
    <div>
        <label>Buddy Phone:</label>
        <input type="text" name="phone"/>
    </div>
    <div>
        <input type="submit" value="Add Buddy"/>
    </div>
</form>

</body>
</html>