<!DOCTYPE html>
<html lang="en" ng-app="webrtcApp">
<head>
    <meta charset="utf-8">
    <title>WebRTC!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">


    <script type="text/javascript" src="js/helpers/jquery.min.js"></script>
    <script type="text/javascript" src="js/helpers/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/helpers/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/helpers/angular.js"></script>

    <script type="text/javascript" src="js/angular_me/header/header.js"></script>
    <script type="text/javascript" src="js/angular_me/signup/signup.js"></script>
    <script type="text/javascript" src="js/angular_me/container/container.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
</head>

<body>
<div class="container" ng-controller="mainController">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div header-directive></div>
            <div signup-directive></div>
            <div container-directive></div>
        </div>
    </div>
</div>
</body>
</html>
